<h2 class="sub">Barra de busca como Algolia Search:</h2>
<input type="text" class="alg-search" placeholder="Procure por um assunto">
<div class="results-container"><ul class="results"></ul></div>
<ul>
  {% for post in postslist %}
    <li>
      <strong>
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
      </strong>
      -
      <span>
        {{ post.data.description }}
      </span>
    </li>
  {% endfor %}
</ul>