<html>
  <head>
    <title>Eleventy Example</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <header class="container bg-gainsboro">
      <nav class="nav-bar">
        <a href="/"><h1 class="logo">Eleventy Example</h1></a>
          <div class="items">
            <a href="/posts">Posts</a>
            <a href="/games">Games</a>
          </div>
      </nav>
    </header>
    <main class="container bg-light">
      {{ content | safe }}
    </main>
    <script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.5.1/dist/algoliasearch-lite.umd.js"></script>
    <script src="/js/AlgoliaSearch.js" defer></script>
    <script src="/js/app.js" defer></script>
  </body>
</html>