---
layout: layouts/base.njk
---
<main>
  <section>
    <form>
      <label for="nameField">Nome:</label>
      <input name="nameField" type="text" placeholder="Digite seu nome" required/>
      <label for="lastNameField">SobreNome:</label>
      <input name="lastNameField" type="text" placeholder="Digite seu sobre nome" required/>
      <label for="emailField">Email:</label>
      <input name="emailField" type="email" placeholder="Digite seu email" required/>
      <button type="submit">Enviar</button>
    </form>
  </section>
</main>
