---
layout: layouts/base.njk
---
<section>
  <div class="container py-3">
    <h2>{{ title }}</h2>
    <p>{{ content | safe}}</p>
  </div>
<section>
<section>
  <div class="container">
    <div class="bg-primary">{{ blueBox }}</div>
  </div>
</section>
<section>
  <div class="container">
    <div class="bg-danger">{{ redBox }}</div>
  </div>
</section>
<section>
  <div class="container">
    <div class="bg-success">{{ greenBox }}</div>
  </div>
</section>